<html>
<body>
<h3>Hello ${user.getPerson().getFirstname()} ${user.getPerson().getSurname()},</h3>

<div>
A patient is randomized to trial ${trial.getName()} in treatment arm ${trialSubject.getArm().getName()}.
</div>
</body>

</html>