#
# Template for registration of new users.
#
# @author Daniel Haehn <dh@randi2.de>
#
<html>
<body>
<h3>Hello ${user.getPerson().getFirstname()} ${user.getPerson().getSurname()}, welcome to RANDI2!</h3>

<div>
Use the following login information to login at ?URL?:<br>
u: ${user.getUsername()} // pw: ${user.getPassword()} <br>
<br>
HAVE PHUN!
</div>
</body>

</html>