<html>
<body style="width: 800px;">
<h3>Hello ${user.getPerson().getFirstname()} ${user.getPerson().getSurname()},</h3>
<div>
A patient <b>(id=${trialSubject.getIdentification()})</b> is randomized to trial <b>${trial.getName()}</b> in treatment arm <b>${trialSubject.getArm().getName()}</b>.
<br/>
Patient's properties:<b>${trialSubject.getPropertiesUIString()}</b>
</div>
<br/>
<hr style="width: 100%; height: 2px;">
<div style="text-align: center;">--- This is a RANDI2 System-Mail ---<br/>
<br/>
RANDI2 is a web-based
software for randomizing subjects for clinical trials.<br/>
The RANDI2 project has been released under GNU GPL v. 3.0. <br/>
For more informations about the project you can visit <a href="http://randi2.org">http://randi2.org</a>.
</div>
</body>
</html>