<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%r [%t] %d{yyyy-MM-dd HH:mm:ss} %-5p %c - %m%n" />
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/randi2.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %d{yyyy-MM-dd HH:mm:ss} (%F:%L) %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<logger name="de.randi2">
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	
	<logger name="liquibase">
		<level value="WARN" />
	</logger>
	
	<!-- <logger name="org.springframework.security">
		<level value="DEBUG" />
	</logger>
 -->
	<root>
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" /> 
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>
