<html>
<body style="width: 800px;">
<h3>Hallo ${user.getPerson().getFirstname()} ${user.getPerson().getSurname()},</h3>
<div>
Ein Patient <b>(id=${trialSubject.getIdentification()})</b> wurde der Studie <b>${trial.getName()}</b> in den Behandlungsarm <b>${trialSubject.getArm().getName()}</b> hinzugef&uuml;gt.
<br/>
Patienteneigenschaften: <b>${trialSubject.getPropertiesUIString()}</b>
</div>
<br/>
<hr style="width: 100%; height: 2px;">
<div style="text-align: center;">--- Dies ist eine RANDI2 System-Mail ---<br/>
<br/>
RANDI2 is a web-based
software for randomizing subjects for clinical trials.<br/>
The RANDI2 project has been released under GNU GPL v. 3.0.<br/>
For more informations about the project you can visit <a href="http://randi2.org">http://randi2.org</a>.
</div>
</body>
</html>