<html>
<body>
<h3>Hallo ${contactPerson.getFirstname()} ${contactPerson.getSurname()}!</h3>

<div>
Der folgende Benutzer hat sich f&uuml;r dein Zentrum angemeldet:<br>
${newUser.getPerson().getFirstname()}<br>
${newUser.getPerson().getSurname()}<br>
<br>
Besser doppelt &uuml;berpr&uuml;fen!
</div>
</body>

</html>