<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<body>
<div style="width: 800px;">
<h4>Hallo ${user.getPerson().getFirstname()}
${user.getPerson().getSurname()} und herzlich Wilkommen zu RANDI2!</h4>
Diese installation wird von ${hoster} betrieben.<br>
Sie können sich unter <a href="${url}">${url}</a> anmelden.
<br>
Bitte verwenden Sie dazu Ihren Benutzernamen: (${user.getUsername()}) and Ihr gew&auml;hltes Passwort.<br>
<br>
Bitte kontrollieren Sie Ihre pers&ouml;nlichen Angaben:<br>
<br>
<table style="text-align: left;" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td>Vorname:</td>
<td>${user.getPerson().getFirstname()}</td>
</tr>
<tr>
<td>Nachname:</td>
<td>${user.getPerson().getSurname()}</td>
</tr>
<tr>
<td>Telefon:</td>
<td>${user.getPerson().getPhone()}</td>
</tr>
<tr>
<td>Handy:</td>
<td>${user.getPerson().getMobile()}</td>
</tr>
<tr>
<td>Fax:</td>
<td>${user.getPerson().getFax()}</td>
</tr>
</tbody>
</table>
<br>
Sie können falsche Angaben jederzeit unter <a href="${url}">${url}</a> ändern.<br>
<br>
<hr style="width: 100%; height: 2px;">
<div style="text-align: center;">--- Dies ist eine RANDI2 System-Mail ---<br>
<br>
RANDI2 is a web-based
software for randomizing subjects for clinical trials.<br>
The RANDI2 project has been released under GNU GPL v. 3.0. <br>
For more informations about the project you can visit <a href="http://randi2.org">http://randi2.org</a>.
</div>
</div>
</body></html>