<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost/randi2_development</value>
		</property>
		<property name="username">
			<value>randi2</value>
		</property>
		<property name="password">
			<value>randi2</value>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<!--		<property name="dataSource" ref="dataSource"></property>-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL5Dialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>de.randi2.model.Trial</value>
				<value>de.randi2.model.User</value>
			</list>
		</property>
	</bean>
	
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<!-- <property name="sessionFactory" ref="sessionFactory"></property> -->
	</bean>
	<context:annotation-config></context:annotation-config>

	<bean id="trialDAO" class="de.randi2.dao.TrialDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userDAO" class="de.randi2.dao.UserDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>
