body {
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  font-size: 15px;
  color: #000;
  padding: 0;
  margin: 0;
  background-image: url(../images/menu_bg.png);
  background-repeat: repeat-y;
}

#header {
  height: 67px;
  margin: 0px;
  background-color: #ffffff;
  background-image: url(../images/randi2_logo.png);
  background-position: right;
  background-repeat: no-repeat;
}

.footer {
  /* position: absolute; */
  border-top: solid #123799 1px;
  text-align: right;
  bottom: 0%;
  font: 10px arial,sans-serif;
  padding-bottom: 5px;
  left: 10px;
  right: 10px;
}

#breadcrumb {
  height: 25px;
  margin: 0px;
  top: 0px;
  background-color: #0047b9;
  border-bottom: solid #123799 4px;
}

.breadcrumb_tbl {
  font: 10px arial,sans-serif;
  color: #ffffff;
  font-weight: bold;
}

#studie_highlight {
  color: yellow;
}

#logout_link {
  color: #ffffff;
}

#logout_link:hover {
  color: #ff0000;
}

img {

  border: none;

}

#content {
	position:absolute;
	top: 110px;
	left: 200px;
	right: 0px;
	bottom: 20px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
}

#bodyText {
	font:13px arial;
	color:#333333;
	line-height:24px;
	}

#inhalt_login {
  position:absolute;
  top: 138px;
  bottom: 0px;
  left: 0px;
  width: 570px;
  height: 320px;
  background-color: #FFFFFF;
}

#login_benutzer {
  position:absolute;
  top: 138px;
  bottom: 0px;
  left: 570px;
  width: 400px;
  height: 320px;
  background-color: #FFFFFF;

}

#menue {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  width: 200px;
}

h1 {
    font:30px times new roman;
	color: #CC3300;
	letter-spacing:.1em;
}

#filterfeld {
	font:12px arial, sans-serif;
	width: 100%;
	font-weight: bold;
}

#filterbezeichnung {
	font:12px arial, sans-serif;
	width: 30px;
	font-weight: bold;
}


#navigation {
   position: absolute;
   top: 12px;
   left: 1px;
   }

#navigation LI {
   padding: 0;
   margin: 0;
   list-style: none;
   width: 200px;
   background: url() repeat-y 0% 0%;

   }
#navigation LI.last {

   }
#navigation UL {
   padding: 0;
   margin: 0;
   }

#navigation A {
   font: bold 0.9em sans-serif;
   color: #000;
   text-decoration: none;
   display: block;
   padding:5;
   margin: 0;
   }
   
#navigation .top_m {
   font: bold 0.9em sans-serif;
   color: #000;
   text-decoration: none;
   display: block;
   padding:5;
   margin: 5px 0 0 0;
   }

#navigation A.Home{}
#navigation A.Home:before {
   content: url(image/folder.gif);
}
#navigation A.folder,
#navigation A.last_folder {}
#navigation A.folder:before {
   content:;
}
#navigation A.last_folder:before {
   content:
}
#navigation A.entry {}
#navigation A.entry:before {
  
}
#navigation A.entry:active:before,
#navigation A.entry:focus:before {
   
}
#navigation A.last {}
#navigation A.last:before {
  
}
#navigation A.last:active:before,
#navigation A.last:focus:before {
   
}

#navigation A:link,
#navigation A:visited {}

#navigation A:hover,
#navigation A:active,
#navigation A:focus {color:red;}




#navigation A.sub_BV,
#navigation A.sub_ZV,
#navigation A.sub_SV,
#navigation A.sub_ND,
#navigation A.sub_SA{
   display: block;
   font: normal 0.84em sans-serif;
   padding: 5;
   padding-left: 24px;
   border-top: none;
   margin: 0px 0 0 0;

   }

#navigation A.n  {
   /*display: none;*/
   }

/*Link, Visited, Hover, Focus, Activ*/
a.il_ContainerItemCommand:link, a.il_ContainerItemCommand:visited, a.il_ContainerItemCommand:hover
{
	padding: 1px 5px;
	margin: 1px 0px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #BABABA;
	border-left-color: #BABABA;
	border-bottom-color: #808080;
	border-right-color: #808080;
	white-space: nowrap;
	text-decoration:none;
	font-weight: normal;
	background-color: #FFFFFF;
	background-image: url(images/ButtonsBack.gif);
	background-position: bottom;
	background-repeat:repeat-x;
	font-size: 70%;
}

div.il_ContainerItemCommands
{
	padding-bottom: 2px;
	padding-top: 2px;
}

/*Link, Visited, Hover, Focus, Activ*/
a.il_ContainerItemTitle:link, a.il_ContainerItemTitle:visited, a.il_ContainerItemTitle:hover
{
	text-decoration: none;
}
.tblrow2 {
	font:12px arial, sans-serif;
	background-color: #e3e3e3;
	color:#000000;
	padding:3px;
}

.tblrow1 {
	font:12px arial, sans-serif;
	background-color:#FFFFFF;
	color:#000000;
	padding:3px;
}