/* RANDI2 Style */
.b1,.b2,.b3,.b4 {
	font-size: 1px;
	overflow: hidden;
	display: block;
}

.b1 {
	height: 1px;
	background: #d9d9d9;
	margin: 0 5px;
}

.b2 {
	height: 1px;
	background: #f5f5f5;
	border-right: 2px solid #d9d9d9;
	border-left: 2px solid #d9d9d9;
	margin: 0 3px;
}

.b3 {
	height: 1px;
	background: #f5f5f5;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	margin: 0 2px;
}

.b4 {
	height: 2px;
	background: #f5f5f5;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	margin: 0 1px;
}

.contentb {
	background: #f5f5f5;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}

.contentb2 {
	border: 1px solid #d9d9d9;
}

.contentb div {
	margin-left: 5px;
}

.body {
	margin: 0px 0px;
	padding: 0px;
	/* Need to set body margin and padding to get consistency between browsers. */
	text-align: center; /* Hack for IE5/Win */
}

.login {
	width: 600px;
	height: 200px;
	margin: 0px auto; /* Right and left margin widths set to "auto" */
	margin-top: 150px;
	text-align: left; /* Counteract to IE5/Win Hack */
	padding: 0px;
	text-align: left;
}

.goodbye {
	width: 300px;
	height: 200px;
	margin: 0px auto; /* Right and left margin widths set to "auto" */
	margin-top: 150px;
	text-align: justify; /* Counteract to IE5/Win Hack */
	padding: 0px;
	text-align: justify;
}

.loginInfo {
	padding: 10px;
}

.terms {
	width: 800px;
	margin: 0px auto; /* Right and left margin widths set to "auto" */
	margin-top: 10px;
	text-align: left; /* Counteract to IE5/Win Hack */
	padding: 0px;
	text-align: left;
}

.contentRANDI2 {
	width: 700px;
	margin: 0px auto; /* Right and left margin widths set to "auto" */
	text-align: left; /* Counteract to IE5/Win Hack */
	padding: 0px;
	/*
	border: 1px dashed #333;
	background-color: #eee;
	*/
}

.contentREGISTER {
	width: 450px;
	margin: 0px auto; /* Right and left margin widths set to "auto" */
	text-align: left; /* Counteract to IE5/Win Hack */
	padding: 0px;
	/*
	border: 1px dashed #333;
	background-color: #eee;
	*/
}

.loginError {
	background-image: url(img/icons/error16.png);
	background-repeat: no-repeat;
	background-position: left;
	padding: 5px;
	padding-left: 30px;
	font-weight: bold;
	color: #CC3333;
}

.exampleBox {
	margin: 15px 15px 0 0;
	padding: 15px;
	background: #FFF;
	border: 1px solid #d9d9d9;
	display: block;
	float: left;
}

.panelSeriesContainer {
	width: 200px;
	border: 1px solid #DADADA;
	/*padding: 10px;*/
	margin: 5px;
	float: left;
}

.exampleBox.panelSeriesContainer {
	width: 424px;
}

.errorMsg {
	background-image: url("img/icons/exception16.png");
	background-position: left;
	background-repeat: no-repeat;
	border: 1px solid red;
	color: black;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
}

.errorMsgError {
	background-image: url("img/icons/exception16.png");
	background-position: left;
	background-repeat: no-repeat;
	color: black;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	font-size:10px;
}